---
import MainHead from "../MainHead.astro";
import NavDesktop from "../NavDesktop.astro";
import NavMobile from "../NavMobile.astro";
---

<html lang="en">
    <head>
        <MainHead title="Not Found" />
    </head>
    <body>
        <NavDesktop />
        <NavMobile />
        <div class="wrapper mt4 mb4">
            <h1>Page Not Found</h1>
            <p>Not found</p>
        </div>
        <footer></footer>
    </body>
</html>
