---
	// Component Imports
	import MainHead from '../components/MainHead.astro';
	import Uvod from '../components/Uvod/index.jsx';
	import Nav from '../components/Nav/index.jsx';
	import Novinky from '../components/Novinky/index.jsx';
	import PortfolioPreview from '../components/PortfolioPreview/index.jsx';
	import CasPlynie from '../components/CasPlynie.astro';
import Zivotopis from '../components/Zivotopis.astro';
import Vystavy from '../components/Vystavy.astro';
import Tvorba from '../components/Tvorba.astro';
import Spolupraca from '../components/Spolupraca.astro';
import Video from '../components/Video.astro';

	// Data Fetching: List all Markdown posts in the repo.
	const projects = await Astro.glob('./project/**/*.md');
	const featuredProject = projects[0];

// Full Astro Component Syntax:
// https://docs.astro.build/core-concepts/astro-components/
---

<html lang="en">

<head>
	<MainHead title="Jeanine White: Personal Site" description="Jeanine White: Developer, Speaker, and Writer..." />
	

	<style lang="scss">
		$w-s: 750px;

		a {
			text-decoration: none;
		}
	</style>
</head>

<body>
	<div class="flex">
		<Nav />
		<main class="w-[80vw]">
			<Uvod />
			<Novinky />
			<CasPlynie/>
			<Zivotopis/>
			<Vystavy/>
			<Tvorba/>
			<Spolupraca/>
			<Video/>

		</main>
	</div>
</body>

</html>
<style>
body {
	font-family: 'Neue Haas Grotesk Display Pro', sans-serif;

}
</style>