<nav class="w-[20vw]">
    <div class="h-[100vh] fixed top-0 px-8 py-4">
        <div class="logo h-[150px]">
            <img src="./public/assets/logo.png" alt="" class="img-contain w-[150px]" />
        </div>
        <div class="h-full absolute top-[50%]">
            <ul class=" -translate-y-1/2">
                <li class=" my-2 cursor-pointer"><a class="text-gray-500" href="/#uvod">Úvod</a></li>
                <li class=" my-2 cursor-pointer"><a class="text-gray-500" href="/#novinky">Novinky</a></li>
                <li class=" my-2 cursor-pointer"><a class="text-gray-500" href="/#cas-plynie">Čas plynie</a></li>
                <li class=" my-2 cursor-pointer"><a class="text-gray-500" href="/#zivotopis">Životopis</a></li>
                <li class=" my-2 cursor-pointer"><a class="text-gray-500" href="/#vystavy">Výstavy</a></li>
                <li class=" my-2 cursor-pointer"><a class="text-gray-500" href="/#tvorba">Tvorba</a></li>
                <li class=" my-2 cursor-pointer"><a class="text-gray-500" href="/#ikar">IKAR</a></li>
                <li class=" my-2 cursor-pointer"><a class="text-gray-500" href="/#video">Video</a></li>
                <li class=" my-2 cursor-pointer"><a class="text-gray-500" href="/#galeria">Fotogaléria</a></li>
                <li class=" my-2 cursor-pointer"><a class="text-gray-500" href="/#kontakt">Kontakt</a></li>
            </ul>
        </div>
    </div>
</nav>