---
import { getLangFromUrl, useTranslations } from "../i18n/utils";
let { selectedMenu } = Astro.props;

const lang = getLangFromUrl(Astro.url);

const isSlovak = lang === "sk";
const t = useTranslations(lang);
---

<nav class="hidden md:block w-[20vw]">
    <div class="h-[100vh] fixed top-0 px-8 py-8">
        <div>
            <div class="logo">
                <a href="/"
                    ><img
                        src="/assets/logo/new_logotyp_augustin.png"
                        alt=""
                        class="img-contain w-[150px]"
                    />
                </a>
            </div>
            <div class="my-2">
                <p class="text-gray-500 text-sm">
                    <a href="/"
                        ><span
                            class:list={[
                                "cursor-pointer text-gray-500",
                                { "font-semibold": isSlovak },
                            ]}>SK &nbsp;</span
                        >
                    </a>|<a href="/en"
                        ><span
                            class:list={[
                                "cursor-pointer text-gray-500",
                                { "font-semibold": !isSlovak },
                            ]}>&nbsp;&nbsp;EN</span
                        >
                    </a>
                </p>
            </div>
        </div>

        <div class="h-full absolute top-[50%]">
            <ul class="-translate-y-1/2 nav">
                <li
                    class:list={[
                        "my-2",
                        "cursor-pointer",
                        { "font-bold": selectedMenu === "uvod" },
                    ]}
                    id="nav-uvod"
                >
                    <a class="text-gray-500" href="/#uvod"
                        >{t("nav.prologue")}
                    </a>
                </li>
                <li
                    class:list={[
                        "my-2",
                        "cursor-pointer",
                        { "font-bold": selectedMenu === "novinky" },
                    ]}
                    id="nav-novinky"
                >
                    <a class="text-gray-500" href="/#novinky"
                        >{t("nav.news")}
                    </a>
                </li>
                <li class="my-2 cursor-pointer" id="nav-cas-plynie">
                    <a class="text-gray-500" href="/#cas-plynie"
                        >{t("nav.time-passes")}
                    </a>
                </li>
                <li class="my-2 cursor-pointer" id="nav-zivotopis">
                    <a class="text-gray-500" href="/#zivotopis"
                        >{t("nav.biography")}
                    </a>
                </li>
                <li class="my-2 cursor-pointer" id="nav-vystavy">
                    <a class="text-gray-500" href="/#vystavy"
                        >{t("nav.exhibitions")}
                    </a>
                </li>
                <li class="my-2 cursor-pointer" id="nav-tvorba">
                    <a class="text-gray-500" href="/#tvorba">{t("nav.work")}</a>
                </li>
                <li class="my-2 cursor-pointer" id="nav-ikar">
                    <a class="text-gray-500" href="/#ikar">{t("nav.ikar")}</a>
                </li>
                <li class="my-2 cursor-pointer" id="nav-video">
                    <a class="text-gray-500" href="/#video">{t("nav.video")}</a>
                </li>
                <li class="my-2 cursor-pointer" id="nav-galeria">
                    <a class="text-gray-500" href="/#galeria"
                        >{t("nav.gallery")}
                    </a>
                </li>
                <li class="my-2 cursor-pointer" id="nav-kontakt">
                    <a class="text-gray-500" href="/#kontakt"
                        >{t("nav.contact")}
                    </a>
                </li>
                <li class="my-2 cursor-pointer" id="nav-facebook">
                    <a
                        class="text-gray-500"
                        href="https://www.facebook.com/augustinmartinart"
                        target="_blank"
                        rel="nofollow noopenner"
                        ><img
                            src="/assets/icons/iconFB.png"
                            class="h-4 w-4 object-contain text-gray-500"
                            alt=""
                        />
                    </a>
                </li>
                <li class="my-2 cursor-pointer" id="nav-facebook">
                    <a
                        class="text-gray-500"
                        href="https://www.instagram.com/martin.augustin1968/"
                        target="_blank"
                        rel="nofollow noopenner"
                        ><img
                            src="/assets/icons/iconIG.png"
                            class="h-4 w-4 object-contain text-gray-500"
                            alt=""
                        />
                    </a>
                </li>
            </ul>
        </div>
    </div>
</nav>

<script>
    window.onscroll = function () {
        let navs = document.getElementsByClassName("nav")[0].children;

        if (
            window.pageYOffset >
            document.getElementById("kontakt").offsetTop -
                window.innerHeight / 2
        ) {
            for (let i = 0; i < navs.length; i++) {
                navs[i].className = navs[i].className.replace("font-bold", "");
            }
            document.getElementById("nav-kontakt").className =
                "my-2 cursor-pointer font-bold";

            // Do something
        } else if (
            window.pageYOffset >
            document.getElementById("galeria").offsetTop -
                window.innerHeight / 2
        ) {
            for (let i = 0; i < navs.length; i++) {
                navs[i].className = navs[i].className.replace("font-bold", "");
            }
            document.getElementById("nav-galeria").className =
                "my-2 cursor-pointer font-bold";
            // Do something
        } else if (
            window.pageYOffset >
            document.getElementById("video").offsetTop - window.innerHeight / 2
        ) {
            for (let i = 0; i < navs.length; i++) {
                navs[i].className = navs[i].className.replace("font-bold", "");
            }
            document.getElementById("nav-video").className =
                "my-2 cursor-pointer font-bold";
            // Do something
        } else if (
            window.pageYOffset >
            document.getElementById("ikar").offsetTop - window.innerHeight / 2
        ) {
            for (let i = 0; i < navs.length; i++) {
                navs[i].className = navs[i].className.replace("font-bold", "");
            }
            document.getElementById("nav-ikar").className =
                "my-2 cursor-pointer font-bold";
            // Do something
        } else if (
            window.pageYOffset >
            document.getElementById("tvorba").offsetTop - window.innerHeight / 2
        ) {
            for (let i = 0; i < navs.length; i++) {
                navs[i].className = navs[i].className.replace("font-bold", "");
            }
            document.getElementById("nav-tvorba").className =
                "my-2 cursor-pointer font-bold";
            // Do something
        } else if (
            window.pageYOffset >
            document.getElementById("vystavy").offsetTop -
                window.innerHeight / 2
        ) {
            for (let i = 0; i < navs.length; i++) {
                navs[i].className = navs[i].className.replace("font-bold", "");
            }
            document.getElementById("nav-vystavy").className =
                "my-2 cursor-pointer font-bold";
            // Do something
        } else if (
            window.pageYOffset >
            document.getElementById("zivotopis").offsetTop -
                window.innerHeight / 2
        ) {
            for (let i = 0; i < navs.length; i++) {
                navs[i].className = navs[i].className.replace("font-bold", "");
            }
            document.getElementById("nav-zivotopis").className =
                "my-2 cursor-pointer font-bold";
            // Do something
        } else if (
            window.pageYOffset >
            document.getElementById("cas-plynie").offsetTop -
                window.innerHeight / 2
        ) {
            for (let i = 0; i < navs.length; i++) {
                navs[i].className = navs[i].className.replace("font-bold", "");
            }
            document.getElementById("nav-cas-plynie").className =
                "my-2 cursor-pointer font-bold";
            // Do something
        } else if (
            window.pageYOffset >
            document.getElementById("novinky").offsetTop -
                window.innerHeight / 2
        ) {
            for (let i = 0; i < navs.length; i++) {
                navs[i].className = navs[i].className.replace("font-bold", "");
            }
            document.getElementById("nav-novinky").className =
                "my-2 cursor-pointer font-bold";
            // Do something
        } else if (
            window.pageYOffset >
            document.getElementById("uvod").offsetTop - window.innerHeight / 2
        ) {
            for (let i = 0; i < navs.length; i++) {
                navs[i].className = navs[i].className = navs[
                    i
                ].className.replace("font-bold", "");
            }
            document.getElementById("nav-uvod").className =
                "my-2 cursor-pointer font-bold";

            // Do something
        }
    };
</script>
