<section id="novinky" class="py-8">
    <div class="flex py-10 h-full">
        <div class="flex-1 px-2">
            <h3 class="text-gray-500 mb-2 font-medium text-2xl">Novinky</h3>
            <div class="w-[500px] relative h-[600px] group">
                <img src="/assets/news/kamil-peteraj-a-martin-augustin-nestandard1.jpg"
                    alt="Novinky augustin martin" class="absolute top-0 left-0 h-full w-full object-cover" />
                <div class="hover:bg-black hover:bg-opacity-60">
                    <div
                        class="overlay absolute top-0 left-0 w-full h-full flex flex-col justify-center pt-16 px-4 bg-stone-900 bg-opacity-60">
                        <h2 class="text-center text-white font-bold text-2xl leading-6">
                            Sen menom láska
                        </h2>
                        <p class="text-center text-white text-sm mb-4">
                            Kamil Peteraj, Martin Augustín
                        </p>

                        <p class="text-center text-white my-8 leading-5">
                            Som veľmi rád, že moje ilustrácie sprevádzajú krásne a tak pravdivé
                            básne Kamila Peteraja v edícii luxusnej knižnice.
                        </p>

                        <p class="text-center text-white text-sm">
                            Ja verím, že jeden z najkrajších citov je láska. Robí z ná bytosti
                            cítiace a súcitiace. A verím, že toto spojenie prispeje k tomu aby náš
                            svet bol krajší.
                        </p>
                        <div class="flex justify-center mt-6">
                            <a href="#" class="text-white border-white border py-0.5 px-4 mt-5">Viac
                            </a>
                        </div>
                    </div>
                </div>
            </div>

        </div>

        <div class="flex-1 h-[600px] flex flex-col  justify-between px-8">
            <div class="flex-1 flex h-[250px] gap-40">
                <a class="h-full cursor-pointer" href="/publikacie/obrazy-texty-sentencie">
                    <h3 class="text-gray-500 mb-2">Publikácie</h3>
                    <img src="/assets/news/brozovanaPublikacia_obrazyTextySentencie.jpg" alt=""
                        class="object-contain h-full" />
                </a>
                <a class="h-full cursor-pointer" href="/textilie/hodvabna-satka">
                    <h3 class="text-gray-500 mb-2">Textílie</h3>
                    <img src="/assets/news/hodvabnaSatka.jpg" alt="" class="object-contain h-full cursor-pointer" />
                </a>
            </div>

            <div class="flex-1 flex  h-[250px] gap-40 mt-16">
                <a class=" h-full cursor-pointer" href="listy/slnko-nad-hlavou">
                    <h3 class="text-gray-500 mb-2">Grafické listy</h3>
                    <img src="/assets/news/grafList_slnkoNadHlavou.jpg" alt=""
                        class="object-contain h-full cursor-pointer" />
                </a>
                <a class=" h-full cursor-pointer" href="limitovane/sen-menom-laska">
                    <h3 class="text-gray-500 mb-2">Limitované edície</h3>
                    <img src="/assets/news/limitovane_senMenomLaska.jpg" alt="" class="object-contain h-full" />
                </a>
            </div>


        </div>


    </div>
</section>