---
const karticky = [
    {
        image: "/assets/novinky/MOD PERSPEKT.jpg",
        title: "Modlitebník",
        text: [
            "Mons. ThLic. V. Pleva, M. Augustín, B. Baloghová",
            "Bibliofília dostupná v Luxusnej knižnici cez link nižšie",
            "Vydavateľstvo Ikar",
        ],

        link: "https://www.luxusnakniznica.sk/modlitebnik",
    },
    {
        image: "/assets/novinky/VyznaniaMA.png",
        title: "Vyznania",
        text: [
            "Kamil Peteraj, Martin Augustín",
            "Limitovaná edícia",
            "Bibliofília je dostupná v Luxusnej knižnici cez link nižšie",
            "Vydavateľstvo Ikar",
        ],

        link: "https://www.luxusnakniznica.sk/vyznania",
    },
    {
        image: "/assets/novinky/kamil-peteraj.jpg",
        title: "Sen menom láska",
        text: [
            "Som veľmi rád, že moje ilustrácie sprevádzajú krásne a tak pravdivé básne Kamila Peteraja v edícii luxusnej knižnice.",
            "Ja verím, že jeden z najkrajších citov je láska. Robí z nás bytosti cítiace a súcitiace. A verím, že toto spojenie prispeje k tomu aby náš svet bol krajší.",
        ],
    },

    {
        image: "/assets/produkty/kytice.jpg",
        title: "Kytice",
        text: [
            "Jediná pôvodná básnická zbierka, ktorú Erben vydal",
            "Jedinečné limitované vydanie",
        ],
    },

    {
        image: "/assets/produkty/maj_priloha.png",
        title: "Máj",
        text: [
            "Limitovaná edícia knihy Máj, dostupná v Českej republike.",
            "Je súčasťou kráľovskej zbierky Buckinghamského paláca v Londýne.",
        ],
    },

    {
        image: "/assets/spoluprace/zrkadlo_duse.jpg",
        title: "Zrkadlo duše",
        text: [
            "Monografia je súčasťou zbierky Francúzskej národnej knižnice v Paríži.",
        ],
    },
];
---

<style>
    .nav-dots .nav-dot {
        font-size: 11px;
        margin: 0 4px;
        text-align: center;
        top: 5px;
        position: relative;
        transform: translateY(-50%);
        border-radius: 100%;
        display: inline-block;
        transition: all 0.5s ease-in-out;
        color: rgba(0, 0, 0, 0.253);
    }

    .nav-dot.active {
        color: #000;
    }

    .nav-dots .nav-dot:hover {
        cursor: pointer;
        color: rgba(0, 0, 0, 0.8);
    }
</style>

<section id="novinky" class="py-8">
    <!--DESKTOP -->
    <div class="py-10 h-full md:block px-4">
        <h3 class="text-gray-500 mb-2 font-medium text-2xl">Novinky</h3>
        <div class="grid md:grid-cols-3 gap-8 md:max-w-6xl">
            {
                karticky.map((karticka) => (
                    <div class="rounded overflow-hidden shadow-lg flex justify-between flex-col">
                        <div class="">
                            <img
                                class="w-full aspect-square object-cover"
                                src={karticka.image}
                                alt=""
                            />
                            <div class="px-6 py-4">
                                <div class="text-gray-500 text-lg font-semibold mb-2">
                                    {karticka.title}
                                </div>
                                <div class="flex flex-col gap-4">
                                    {karticka.text.map((item) => (
                                        <p class="text-gray-700 text-base">
                                            {item}
                                        </p>
                                    ))}
                                </div>
                            </div>
                        </div>

                        <div class="px-6 pt-4 pb-2">
                            <a
                                href={karticka.link}
                                target="_blank"
                                class="border border-black py-0.5 px-6 rounded-md"
                                rel="nofollow noopener"
                            >
                                <button class="btn">
                                    <span class="text-sm text-black">viac</span>
                                </button>
                            </a>
                        </div>
                    </div>
                ))
            }
        </div>
    </div>
</section>
