---
import { getLangFromUrl, useTranslations } from "../i18n/utils";

const lang = getLangFromUrl(Astro.url);
const t = useTranslations(lang);

const studium = t("biography.studies");
const ocenenia = t("biography.awards");
---

<section id="zivotopis" class="px-4 md:pt-20 md:flex pt-20">
    <div class="flex-1">
        <h2 class="text-gray-500 font-medium text-2xl mt-4">
            {t("biography.title")}
        </h2>

        <figure class="md:hidden py-2">
            <img src="/assets/augustin-portret.jpg" alt="" />
            <figcaption class="text-center text-gray-500 mt-2">
                {t("biography.photo")}
            </figcaption>
        </figure>

        <h3 class="text-gray-500">
            {t("biography.birthday")}
        </h3>
        <h2 class="text-gray-500 font-medium text-xl mt-10">
            {t("biography.studies-title")}
        </h2>
        {
            studium.map((item) => (
                <div class="item my-2">
                    <h3 class="text-gray-500 font-medium">{item.date}</h3>
                    <p class="text-gray-500 text-sm">{item.text}</p>
                </div>
            ))
        }

        <h2 class="text-gray-500 font-medium text-xl mt-10">
            {t("biography.awards-title")}
        </h2>
        {
            ocenenia.map((item) => (
                <div class="item my-2">
                    <h3 class="text-gray-500 font-medium">{item.date}</h3>
                    {item.text.map((textik) => (
                        <p class="text-gray-500 text-sm">{textik}</p>
                    ))}
                </div>
            ))
        }
    </div>
    <figure class="hidden md:flex-1 md:block md:px-5 pt-8">
        <img src="/assets/augustin-portret.jpg" alt="" />
        <figcaption class="text-center text-gray-500 mt-2">
            {t("biography.photo")}
        </figcaption>
    </figure>
</section>
