---
    const studium = [
        {
            date: "1983 – 1987",
            text: "SUPŠ – Stredná umelecko priemyselná škola Bratislava (Šupka, odbor voľná grafika, prof. Ján Ondriska, Gabriel Štrba)",
        },
        {
            date: "1988 – 1994",
            text: "VŠUP - Vysoká škola uměleckoprůmyslová Praha, Česká republika, (ateliér grafického designu a plagátu, prof. Zdeněk Ziegler, ateliér knižnej ilustrácie a grafiky, prof. Jiří Šalamoun)",
        },
        {
            date: "1993",
            text: "Stáž počas vysokoškolského štúdia: Univerzita aplikovaných vied a umenia Luzern, Švajčiarsko, (odbor Design a umenie, prof. Hans Peter Dubacher, Hans Peter Riklin)",
        },
        {
            date: "1993",
            text: "Stáž počas vysokoškolského štúdia: Univerzita aplikovaných vied a umenia Luzern, Švajčiarsko, (odbor Design a umenie, prof. Hans Peter Dubacher, Hans Peter Riklin)",
        },
    ];

    const ocenenia = [
        {
            date: "1987",
            text: [
                "Čestné uznanie za najkrajšiu knihu roka, za ilustrácie ku knihe Jaroslava Seiferta Halleyova kométa, Koncert na ostrove, Odlievanie zvonov",
            ],
        },
        {
            date: "1995",
            text: [
                "Špeciálna cena – Bienále ilustrácií Teherán, Irán, za ilustrácie ku knihe Pavla Šruta Mačací kráľ",
            ],
        },
        {
            date: "2009",
            text: [
                "Cena Ministerstva kultúry Slovenskej republiky, Najkrajšia kniha roka, diplom, za ilustrácie ku knihe Kamila Peteraja Toto je moja reč (IKAR)",
            ],
        },
        {
            date: "2009",
            text: [
                "Cena Ministerstva školstva Slovenskej republiky, diplom za ilustrácie k učebnici Slovenská literatúra pre 5. ročník základných škôl s vyučovacím jazykom maďarským",
            ],
        },
        {
            date: "2012",
            text: [
                "Cena Ministerstva kultúry Slovenskej republiky, Najkrajšia kniha roka, diplom za ilustrácie ku knihe Kamila Peteraja Bosá v priesvitných šatách (IKAR)",
            ],
        },
        {
            date: "2015",
            text: [
                "- Cena BIBIANY, medzinárodný dom umenia pre deti, Najkrajšia detská kniha za ilustrácie ku knihe Eros a Psyché (Perfekt)",
            ],
        },
        {
            date: "2015",
            text: ["1. cena za najkrajší kalendár (Spektrum Grafik)"],
        },
        {
            date: "2017",
            text: [
                "Cena Art Prix za ilustrácie ku knihe Texty v obrazoch, obrazy v textoch (IKAR)",
            ],
        },
        {
            date: "2017",
            text: [
                "Cena Ministerstva kultúry Slovenskej republiky za bibliofilské vydanie Najkrajšie knihy Slovenska, za ilustrácie ku knihe Texty v obrazoch, obrazy v textoch (IKAR)",
            ],
        },
        {
            date: "2017",
            text: [
                "Diplom Ministerstva kultúry Slovenskej republiky, Najkrajšie knihy Slovenska, za ilustrácie ku knihe Texty v obrazoch, obrazy v textoch (IKAR)",
            ],
        },
        {
            date: "2022",
            text: [
                "Osobnosť Bratislavy",
                "Diplom Ministerstva kultúry Slovenskej republiky, Najkrajšie knihy Slovenska 2021, za knihu Ľudovít Petránsky, Martin Augustín, Zrkadlo duše (IKAR)",
            ],
        },
    ];

---

<section id="zivotopis" class="px-4 pt-20 flex py-10">
    <div class="flex-1">

    <h2 class="text-gray-500 font-medium text-xl mt-4">Životopis</h2>
    <img src="@/assets/images/augustin-portret.jpg" alt="" class="w-full object-contain h-auto my-4" />

    <h3 class="text-gray-500">
        Martin Augustín sa narodil 25. 11. 1968 v Bratislave
    </h3>
    <h2 class="text-gray-500 font-medium text-xl mt-10">Štúdium</h2>
    {
    studium.map((item) => (

    <div class="item my-2">
        <h3 class="text-gray-500 font-medium">{ item.date }</h3>
        <p class="text-gray-500 text-sm">{ item.text }</p>
    </div>

    ))}

    <h2 class="text-gray-500 font-medium text-xl mt-10">Ocenenia</h2>
    {
    ocenenia.map((item) => (

    <div class="item my-2">
        <h3 class="text-gray-500 font-medium">{ item.date }</h3>
        {item.text.map((textik) => (
        <p class="text-gray-500 text-sm">{ textik }</p>

        ))

        }
    </div>
    ))}
    </div>
    <div class="flex-1 px-5"><img src="/assets/augustin-portret.jpg" alt=""></div>
</section>